#header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
}

.header-nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    font-size: 20px;
}

#header-img {
    height: 27px;
    text-align: center;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--light-text-color);
}

@media (min-width: 500px) {
    .header-nav>.container {
        display: flex;
    }
}

.header-banner {
    background: url(../img/banner.jpg);
    text-align: center;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: 50% 50%;
}
