@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    --text-color: #123644;
    --background-color: #dcdcdc;
    }

#header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px;
}

.header-nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

#header-logo {
    height: 27px;
    text-align: center;
    }
.header-nav__menu-items {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    }
.header-nav__menu-items:hover {
    text-decoration: underline;
}
@media (min-width: 500px) {
    .header-nav > .container {
        display: flex;
    }
}

